<section class="calender">
  <section class="action">
    <label>
      <span>Year: </span>
      <select ng-options="year as year for year in years" ng-change="selectUpdate()" ng-model="selectedYear"></select>
    </label>
    <label>
      <span>Month: </span>
      <select ng-change="selectUpdate()" ng-model="selectedMonth" ng-options="month as month for month in months"></select>
    </label>
  </section>
  
  <ul class="list">
    <li ng-repeat="date in dates" ng-click="addEvent(date)">
      <span ng-repeat='meeting in getMeetings(date)'>
        {{meeting.desc}}
      </span>{{date.getDate()}}</li>
  </ul>
  <schedule-event></schedule-event>
</section>
